body {
    background: #f4f4f4;
    color: #778899;
    padding: 18px;
    font-family: 'Font Name', serif;
  
  
  
  li, p {
    font-size: 24px
  }
  img {
  float: left;
  width: 200px;
  padding: 20px;
  margin-right: 20px;
  }
  h1 {
    font-size: 45px;
    color: #000000;
    text-align:center;
  }
  h2 {
    font-size: 30px
  }
  h3 {
    font-size: 26px
  }
  
  .box {
    display:flex;
    flex-direction: row;
  }
.MRGA {
  font-size: 45px 
}